<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <div class="p-grid">
        <div class="p-col-4">
            <p-chart type="pie" [data]="data" width="30vw" height="60vh"></p-chart>
        </div>
        <div class="p-col-8">
            <div class="p-d-flex p-jc-end">
                <button type="button" pButton icon="fa fa-plus" class="p-m-2" (click)="showDialogToAdd()" label="Add Employee"></button>
            </div>
            <div class="p-d-flex">
                <p-table [columns]="cols" [value]="employees" selectionMode="single" [(selection)]="selectedEmployee" (onRowSelect)="onRowSelect($event)"
                    [paginator]="true" [rows]="15">
                    <ng-template pTemplate="caption">
                        List of Employee
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                <span *ngIf="rowData[col.field]">{{rowData[col.field]}}</span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary" let-rowData>
                        <div style="color:red">
                            Click on the row to edit or delete
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <!-- add-edit-delete dialog modal -->
    <p-dialog header="Employee Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}">
        <div class="ui-g ui-fluid" *ngIf="employeee">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">First Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="year" [(ngModel)]="employeee.firstName" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="brand">Last Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="brand" [(ngModel)]="employeee.lastName" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="color">Email Id</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="color" [(ngModel)]="employeee.emailId" />
                </div>
            </div>
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="color">Employee Type</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="color" [(ngModel)]="employeee.employeeType" />
                    </div>
                </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>